header{
    background-color: rgb(0, 0, 0);
    height: 110px;
    }
    h1{
        color: white;
        font-size: 73px;
        margin-left: 510px;
        float: left;
        font-family: titulo;
        margin-top: 6px;
    } li{list-style: none;} 
#opciones{
    background-color: rgb(250, 250, 250);
     display: flex;
    justify-content: space-around;
    height: 27px;
    border: solid rgb(6, 6, 6) 3px;
    width: 100%;
   }
   a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family:menu1 ;
    font-size: 22px
}
@font-face {
  
    src: url( fonts/Once.otf);
    font-family: menu1;
}
@font-face {
    
    src: url( fonts/Signature.otf);
    font-family: titulo;
}
@font-face {
    
    src: url( fonts/Signature.otf);
    font-family: expo;
}

#h2{
    font-family: expo;
    margin-left: 900px;
    font-size: 140px;
}

#e2{
    background-image: url(img/girasoles.jpg);
    width: 100%;
    height: 197px;
    margin-top: 18px;
    display: flex;
    align-items: center;
    
}
#e3{
    display: flex;
    align-items: center;
    width: 100%;
    height: 197px;
    margin-top: 18px;
    background-image: url(img/expo1.jpg); 
    background-size: cover;
}
#e4{
    display: flex;
    align-items: center;
    width: 100%;
    height: 197px;
    margin-top: 18px;
     background-image: url(img/Pinturas-Rococo.webp);
     background-size: cover;
}
#e5{
    height: 46px;
    background-color: white;
    width: 50%;
}
#E2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.h5{
    color: rgb(249, 184, 7);
    align-content: center;
    margin-right: 290px;
    font-size: 30px;
}
#h01{
    color: rgb(253, 109, 19);
    margin-left: auto;
    margin-right: auto;
}
#h11{
    color: rgb(8, 82, 10);
    margin-left: auto;
    margin-right: auto;
}
#h111{
    color: rgb(29, 47, 239);
    margin-left: auto;
    margin-right: auto;
}
.h6{
    color: rgb(27, 90, 11);
    align-content: center;
    margin-right: 290px;
    font-size: 30px;
}
.h7{
    color: rgb(70, 101, 240);
    align-content: center;
    margin-right: 290px;
    font-size: 30px;
}
@media screen and (min-width:280px) and (max-width:490px)   {

    header{
        background-color: rgb(224, 130, 130);
        height: 100px;
        align-items: center;
        display: flex;
        }
        #opciones{
            background-color: rgb(250, 250, 250);
            
            display: flex;
            justify-content: space-around;
            height: 27px;
            border: solid rgb(6, 6, 6) 3px;
            width: 99%;
           }
           li{list-style: none;} 
           #h1{
            color: rgb(0, 0, 0);
            font-size: 43px;
           margin-left: auto;
           margin-right: auto;
            float: left;
            font-family: titulo;
            margin-top: 6px;
        }
        a{
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-family:menu1 ;
            font-size: 14px
        }
        @font-face {
            
            src: url( fonts/Once.otf);
            font-family: menu1;
        }
        @font-face {
           
            src: url( fonts/Signature.otf);
            font-family: titulo;
        }
        @font-face {
            
            src: url( fonts/Signature.otf);
            font-family: expo;
        }
        #h2{
            font-family: expo;
            margin-left: 900px;
            font-size: 140px;
        }
        
        #e2{
            background-image: url(img/girasoles.jpg);
            width: 100%;
            height: 197px;
            margin-top: 18px;
            display: flex;
            align-items: center;
            
        }
        #e3{
            display: flex;
            align-items: center;
            width: 100%;
            height: 197px;
            margin-top: 18px;
            background-image: url(img/expo1.jpg); 
            background-size: cover;
        }
        #e4{
            display: flex;
            align-items: center;
            width: 100%;
            height: 197px;
            margin-top: 18px;
             background-image: url(img/Pinturas-Rococo.webp);
             background-size: cover;
        }
        #e5{
            height: 46px;
            background-color: white;
            width: 50%;
        }
        #E2{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        
        .h5{
            color: rgb(249, 184, 7);
            align-content: center;
            margin-right: 30px;
            font-size: 20px;
        }
        #h01{
            color: rgb(253, 109, 19);
            margin-left: auto;
            margin-right: auto;
            font-size: 40px;
        }
        #h11{
            color: rgb(8, 82, 10);
            margin-left: auto;
            margin-right: auto;
            font-size: 40px;
        }
        #h111{
            color: rgb(29, 47, 239);
            margin-left: auto;
            margin-right: auto;
            font-size: 40px;
        }
        .h6{
            color: rgb(27, 90, 11);
            align-content: center;
            margin-right: 30px;
            font-size: 20px;
        }
        .h7{
            color: rgb(70, 101, 240);
            align-content: center;
            margin-right: 30px;
            font-size: 20px;
        }
           }
           @media screen and (min-width:491px) and (max-width:570px)   {

            header{
                background-color: rgb(222, 146, 245);
                height: 100px;
                align-items: center;
                display: flex;
                }
                #opciones{
                    background-color: rgb(250, 250, 250);
                    
                    display: flex;
                    justify-content: space-around;
                    height: 27px;
                    border: solid rgb(6, 6, 6) 3px;
                    width: 99%;
                   }
                   #h1{
                    color: rgb(0, 0, 0);
                    font-size: 43px;
                   margin-left: auto;
                   margin-right: auto;
                    float: left;
                    font-family: titulo;
                    margin-top: 6px;
                }
                li{list-style: none;} 
                a{
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    font-family:menu1 ;
                    font-size: 17px
                }
                @font-face {
                    src: url(fonts/Once.otf);
                    font-family: menu1;
                }
                @font-face {
                    
                    src: url( fonts/Signature.otf);
                    font-family: titulo;
                }
                @font-face {
                    
                    src: url( fonts/Signature.otf);
                    font-family: expo;
                }
                #h2{
                    font-family: expo;
                    margin-left: 900px;
                    font-size: 140px;
                }
                
                #e2{
                    background-image: url(img/girasoles.jpg);
                    width: 100%;
                    height: 197px;
                    margin-top: 18px;
                    display: flex;
                    align-items: center;
                    
                }
                #e3{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 197px;
                    margin-top: 18px;
                    background-image: url(img/expo1.jpg); 
                    background-size: cover;
                }
                #e4{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 197px;
                    margin-top: 18px;
                     background-image: url(img/Pinturas-Rococo.webp);
                     background-size: cover;
                }
                #e5{
                    height: 46px;
                    background-color: white;
                    width: 50%;
                }
                #E2{
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
                
                .h5{
                    color: rgb(249, 184, 7);
                    align-content: center;
                    margin-right: 30px;
                    font-size: 20px;
                }
                #h01{
                    color: rgb(253, 109, 19);
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 40px;
                }
                #h11{
                    color: rgb(8, 82, 10);
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 40px;
                }
                #h111{
                    color: rgb(29, 47, 239);
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 40px;
                }
                .h6{
                    color: rgb(27, 90, 11);
                    align-content: center;
                    margin-right: 30px;
                    font-size: 20px;
                }
                .h7{
                    color: rgb(70, 101, 240);
                    align-content: center;
                    margin-right: 30px;
                    font-size: 20px;
                }
                   }
                   @media screen and (min-width:571px) and (max-width:890px)   {

                    header{
                        background-color: rgb(255, 255, 4);
                        height: 100px;
                        align-items: center;
                        display: flex;
                        }
                        #opciones{
                            background-color: rgb(250, 250, 250);
                            
                            display: flex;
                            justify-content: space-around;
                            height: 27px;
                            border: solid rgb(6, 6, 6) 3px;
                            width: 99%;
                           }
                           #h1{
                            color: rgb(0, 0, 0);
                            font-size: 43px;
                           margin-left: auto;
                           margin-right: auto;
                            float: left;
                            font-family: titulo;
                            margin-top: 6px;
                        }
                        li{list-style: none;} 
                        a{
                            text-decoration: none;
                            color: rgb(0, 0, 0);
                            font-family:menu1 ;
                            font-size: 17px
                        }
                        @font-face {
                            
                            src: url(fonts/Once.otf);
                            font-family: menu1;
                        }
                        @font-face {
                            src: url( fonts/Simple\ Signature.otf);
                            font-family: titulo;
                        }
                        @font-face {
                            src: url( fonts/Simple\ Signature.otf);
                            font-family: expo;
                        }
                        #h2{
                            font-family: expo;
                            margin-left: 900px;
                            font-size: 140px;
                        }
                        
                        #e2{
                            background-image: url(img/girasoles.jpg);
                            width: 100%;
                            height: 197px;
                            margin-top: 18px;
                            display: flex;
                            align-items: center;
                            
                        }
                        #e3{
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 197px;
                            margin-top: 18px;
                            background-image: url(img/expo1.jpg); 
                            background-size: cover;
                        }
                        #e4{
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 197px;
                            margin-top: 18px;
                             background-image: url(img/Pinturas-Rococo.webp);
                             background-size: cover;
                        }
                        #e5{
                            height: 46px;
                            background-color: white;
                            width: 50%;
                        }
                        #E2{
                            display: flex;
                            justify-content: space-around;
                            flex-wrap: wrap;
                        }
                        
                        .h5{
                            color: rgb(249, 184, 7);
                            align-content: center;
                            margin-right: 30px;
                            font-size: 20px;
                        }
                        #h01{
                            color: rgb(253, 109, 19);
                            margin-left: auto;
                            margin-right: auto;
                            font-size: 40px;
                        }
                        #h11{
                            color: rgb(8, 82, 10);
                            margin-left: auto;
                            margin-right: auto;
                            font-size: 40px;
                        }
                        #h111{
                            color: rgb(29, 47, 239);
                            margin-left: auto;
                            margin-right: auto;
                            font-size: 40px;
                        }
                        .h6{
                            color: rgb(27, 90, 11);
                            align-content: center;
                            margin-right: 30px;
                            font-size: 20px;
                        }
                        .h7{
                            color: rgb(70, 101, 240);
                            align-content: center;
                            margin-right: 30px;
                            font-size: 20px;
                        }
                           }
        